*{
    margin:0;
    padding:0;
    text-align:center;
}
h1{
    background-color: rgb(7, 7, 70);
    color:white;
    height:5rem;
    line-height: 5rem;
    font-style: italic;
}

.choice{
    height:135px;
    width:135px;
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover{
    cursor:pointer;
    background-color: black;
   
}
img{
    height:120px;
    width:120px;
    object-fit: cover;
    border-radius:50%;
  
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:4rem;
    margin-top: 5rem;
    
}
.score-board{
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:2rem;
    margin-top:3rem;
    gap:5rem;
}

#user-score,#comp-score{
    font-size:3rem;
}
.msg-container{
    margin-top:3rem;
}
#msg{
    margin-top: 3rem;
    background-color: black;
    color:white;
    font-size: 2rem;
    display:inline;
    padding:1rem;
    border-radius: 1rem;
}
#para{
    margin-top: 0.5rem;
    
    color:rgb(126, 126, 136);
}